<h1 data-translate-key="registerUserTitle" class="ce">Register User</h1>
<div class="container mt-4 w-25">
    <form id="addUserForm">
        <div class="mb-3">
            <label for="fullName" class="form-label" data-translate-key="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" placeholder="Enter full name" data-translate-placeholder="enterFullName" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label" data-translate-key="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" data-translate-placeholder="enterEmail" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label" data-translate-key="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" data-translate-placeholder="enterPassword" required>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label" data-translate-key="confim_password">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" required data-translate-placeholder="confirmPassword" placeholder="Confirm password">
        </div>
        <button type="submit" class="btn btn-primary" id="addUserSubmit" disabled data-translate-key="register" >Register</button>
    </form>
</div>

<link rel="stylesheet" href="css/register-user.css">
<script src="js/register-user.js"></script>

