<h1 data-translate-key="vacationsCalendarTitle">Vacations Calendar</h1>
<div class="container-fluid">
    <div class="btn-toolbar mb-3" role="toolbar">
        <button type="button" class="btn btn-lg btn-outline-primary mr-4" id="prevMonth" data-translate-key="prevMonth">
            <i class="fas fa-chevron-left"></i>
        </button>
        <h3 id="monthName" class="text-center mb-4"></h3>
        <h3 id="currentMonthYear" class="text-center mb-4"></h3>
        <button type="button" class="btn btn-lg btn-outline-primary ml-4" id="nextMonth" data-translate-key="nextMonth">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
    <div class="btn-group ml-2 float-end" role="group">
        <button type="button" class="btn btn-secondary" id="easyModeButton" data-translate-key="easyMode">Easy Mode</button>
    </div>

    <div class="table-responsive position-relative">
        <!-- Table will be dynamically generated -->
        <table id="calendar" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th id="fullNameHeader" data-translate-key="fullName">Full Name</th>
                    <!-- Day headers will be dynamically generated -->
                    <th id="totalHoursHeader" data-translate-key="totalHours">Total Hours</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example rows, add more as needed -->
                <tr>
                    <td>Andrius Lukminas</td>
                    <!-- Shift data will be dynamically generated -->
                    <td class="total-hours">0</td>
                </tr>
                <tr>
                    <td>Dovydas Žvirblis</td>
                    <td class="total-hours">0</td>
                </tr>
                <tr>
                    <td>Robertas Mickevičius</td>
                    <td class="total-hours">0</td>
                </tr>
                <tr>
                    <td>Kristina Januškevičiūtė</td>
                    <td class="total-hours">0</td>
                </tr>
                <tr>
                    <td>Ignas Kerpė</td>
                    <td class="total-hours">0</td>
                </tr>
                <tr>
                    <td>Ramūnas Ruibys</td>
                    <td class="total-hours">0</td>
                </tr>
                <tr>
                    <td>Modesta Chodžamkulova</td>
                    <td class="total-hours">0</td>
                </tr>
                <tr>
                    <td>Mantas Ramilis</td>
                    <td class="total-hours">0</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
    <script src="js/vacations_calendar.js" defer></script>
</div>